* {
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    position: relative;
    height: 70px;
    background-color: gray;
}

#menu-btn {
    position: absolute;
    top: 18px;
    left: 18px;
    background-color: transparent;
    border: 0;
    z-index: 10;
    cursor: pointer;
}

#dark-mode-btn {
    position: absolute;
    top: 18px;
    right: 18px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

#menu-btn img {
    width: 30px;
    height: 30px;
}

#dark-mode-btn img {
    width: 30px;
    height: 30px;
}

.menu {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0;
    background-color: gray;
    border: 1px solid black;
    border-top: transparent;
    border-end-end-radius: 20px;
    visibility: hidden;
}

.chronometer-container {
    padding: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.chronometer {
    font-size: 150px;
    color: #000;
}

.chronometer-button-container {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.chronometer-button {
    width: 120px;
    height: 120px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 50px;
}

.chronometer-button:hover {
    border-color: #fff;
}

.dark-mode-chronometer {
    color: #fff;
}

.dark-mode-background {
    background-color: #35363A;
}

.dark-mode-element {
    background-color: #161616;
}

.d-none {
    visibility: visible;
}

.menu a {
    position: absolute;
    top: 180px;
    left: 85px;
    text-decoration: none;
    color: #fff;
    background-color: #161616;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    display: block;
    text-align: center;
}

.menu h6 {
    position: absolute;
    top: 380px;
    left: 65px;
}